.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App{
  padding:1% 2%;
}
.header-first-icon{
  display: flex;
}
.header-last-icon{
  display: flex;
  justify-content: space-between;
}